*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: blue;
}
.box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    background-color: aqua;
    display: flex;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    0%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box span{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.box span img{
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
ul{
    display: flex;
}
li{
    padding: 10px;
    list-style-type: none;
}